mark {
    background-color: yellow;
}

#icon {
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
}

.left-section-left{
    position: relative; 
    top: 100px; 
    left: 30px;
    width: 33%;
    display: inline-block;
}

.left-section-right{
    width: 10%;
    position: absolute;
    top: 100px;
    left: 45vw;
    display: inline-block;
}

.right-section {
    position: relative; 
    top: 135px; 
    float: right;
    width: 43%;
    padding-right: 30px; 
}


.middle-section {
    position: relative; 
    top: 100px; 
    float: left;
    width: 34%;
    margin: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}


.table{
    float: right;
    margin-right: 13%;
    position: relative; 
    top: 120px; 
}

.error-type {
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.error-type .error-count {
    background-color: #ffffff;
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
}
.error-type .error-content {
    display: none;
    background-color: gray;
    color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 200px;
    z-index: 1;
}
.error-type:hover .error-content {
    display: block;
}
body {
    background-color: #f2f2f2; 
}

table {
    border-collapse: collapse;
    margin: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #ccc;
  }

  td {
    background-color: #f2f2f2;
  }

  td.heatmap-0 {
    background-color: #c1e1c1
  }

  td.heatmap-1 {
    background-color: #a7d8a7;
  }

  td.heatmap-2 {
    background-color: #8ec08e;
  }

  td.heatmap-3 {
    background-color: #759875;
  }

  td.heatmap-4 {
    background-color: #5c805c;
  }

  td.heatmap-5 {
    background-color: #009688;
  }

  td.heatmap-6 {
    background-color: #00897b;
  }

  td.heatmap-7 {
    background-color: #00796b;
  }

  td.heatmap-8 {
    background-color: #00695c;
  }

  td.heatmap-9 {
    background-color: #004d40;
  }
  td.heatmap-10 {
    background-color: #004d40;
  }
   td.heatmap-11 {
    background-color: #004d40;
  }



/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
}

.header_section {
  padding: 10px 0;
}

.header_section .container {
  padding: 0;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 8px 30px;
  color: #000000;
  text-align: center;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  font-size: 15px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #356e7f;
  color: #ffffff;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}





.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}