body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 10% auto; /* Change the top and bottom margin to center the box vertically */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"], form input[type="file"] {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: 50%; /* Change this value to adjust the button width */
    height: 40px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; /* Add this to center the button */
}


form input[type="submit"]:hover {
    background-color: #0056b3;
}

button, .red {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkred;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: red;
    font-weight: bold;
}

/* Add these lines to your CSS file */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pdf-image, .docx-image {
    width: 120px; /* Set the width of the images */
    height: auto; /* Keep the aspect ratio */
    margin: 0 10px; /* Add some space between the images */
}

/* Set custom position, rotation, and other styles for the PDF image */
.pdf-image {
    position: relative;
    left: -3%; /* Adjust left position */
    top: -50px; /* Adjust top position */
    transform: rotate(-5deg); /* Rotate the image */
}

/* Set custom position, rotation, and other styles for the DOCX image */
.docx-image {
    position: relative;
    left: 3%; /* Adjust left position */
    top: -80px; /* Adjust top position */
    transform: rotate(5deg); /* Rotate the image */
}
