<script type="text/javascript">
 
    // 基于准备好的dom，初始化echarts实例
    console.log(name)
    var myChart = echarts.init(document.getElementById('main'));
 
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: {{ name|safe }}
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data:{{ data|safe }}
        }]
    };
 
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>