<!DOCTYPE html>
<html>

<head>

    <title>文本评测</title>

    <link rel="icon" href="{% static 'favicon/logo.svg'%}">
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}

    <link href="{% static 'css/fontCharacter.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link href="{% static 'css/text_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/score.css' %}" rel="stylesheet" />


</head>


<body>

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="/index">
                <svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 512.009 512.009" style="enable-background:new 0 0 512.009 512.009;"
                  xml:space="preserve">
                  <g>
                    <g>
                      <path d="M370.634,395.38l4.715-0.917c5.547-1.067,136.661-26.773,136.661-95.808c0-21.461-6.933-36.8-20.651-45.611
                c-19.797-12.757-47.531-7.168-64.683-1.707v-16.683c0-17.643-14.357-32-32-32H96.009c-17.643,0-32,14.357-32,32v21.333
                c0,63.637,29.675,122.027,78.827,160H10.676c-4.309,0-8.213,2.603-9.856,6.592c-1.664,3.989-0.747,8.576,2.304,11.627
                l23.915,23.915c14.123,14.101,32.875,21.867,52.8,21.867h330.987c19.648,0,38.891-7.979,52.8-21.867l23.915-23.915
                c3.051-3.051,3.968-7.637,2.304-11.627c-1.664-3.989-5.547-6.592-9.856-6.592H347.807
                C356.02,409.673,363.593,402.783,370.634,395.38z M425.418,274.313c13.483-5.12,40.405-12.373,54.4-3.307
                c7.317,4.672,10.859,13.739,10.859,27.648c0,35.477-59.307,59.221-98.496,69.931C410.783,340.809,422.324,308.596,425.418,274.313
                z"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M328.415,113.332c17.344-21.675,17.344-55.616,0-77.291c-3.733-4.608-10.432-5.312-14.997-1.664
                c-4.608,3.669-5.333,10.389-1.664,14.997c11.008,13.717,11.008,36.907-0.043,50.667c-17.365,21.653-17.365,55.616-0.021,77.291
                c2.133,2.645,5.205,4.011,8.341,4.011c2.347,0,4.715-0.768,6.677-2.347c4.608-3.669,5.333-10.389,1.664-14.997
                C317.364,150.281,317.364,127.092,328.415,113.332z"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M264.308,113.332c17.365-21.675,17.365-55.616,0-77.291c-3.669-4.587-10.368-5.333-14.997-1.664
                c-4.608,3.669-5.333,10.389-1.664,14.997c10.987,13.717,10.987,36.907-0.021,50.667c-17.365,21.653-17.365,55.616,0,77.291
                c2.112,2.645,5.205,4.011,8.341,4.011c2.325,0,4.693-0.768,6.656-2.347c4.587-3.669,5.333-10.389,1.664-14.997
                C253.3,150.281,253.3,127.092,264.308,113.332z"></path>
                    </g>
                  </g>

                </svg>
                <span>
                  Speech scoring system
                </span>
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="s-1"> </span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">

                    <li class="nav-item">
                      <a class="nav-link" href="/index"> 主页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/judge/judge_homepage/">赛事广场<span class="sr-only">(current)</span></a>
                    </li>
                    {% if login_status %}

                    <li class="nav-item">
                      <a class="nav-link" href="/login/score"> 评测结果 </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/login/face/upload"> 人脸录入 </a>
                    </li>

                      <li class="nav-item">
                        <a class="nav-link last_link" href="/login/logout"> 注销 </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link last_link" href="/judge/judge_homepage/contact/"> 联系我们 </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/login/user/info">{{ user_name }}</a>
                      </li>

                    {% else %}

                      <li class="nav-item">
                        <a class="nav-link last_link" href="/login"> 登录 </a>
                      </li>

                    {% endif %}

                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>



    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>

    <div id="echart_container">

    <div class="item1" style="width: 45vw; height:45vh;">
{#    <div class="left-section-left">#}

      <h3>文本纠错</h3>
      <div id="text-container" style="height: 45vh; overflow: auto;">
        <div id="original-text">{{ original_text }}</div>
      </div>
        <script>
            $(document).ready(function(){
                let words_to_mark = {{error_info.index}};
                let marked_text = $("#original-text").text();
            
                let offset = 0;
                for(let i=0;i < words_to_mark.length;i++){
                
                    // 定位错误词语
                    var error_start_index = words_to_mark[i][0] + offset;
                    var error_end_index = words_to_mark[i][1] + offset;
                    marked_text = marked_text.substring(0, error_start_index) + "<mark>" + marked_text.substring(error_start_index, error_end_index) +"</mark>" + marked_text.substring(error_end_index);
                    offset += "<mark>".length + "</mark>".length;
                }
                    console.log(marked_text);
                    $("#original-text").html(marked_text);
            });
        </script>
    </div>

    <div class="left-section-right">
        {% for error in error_list %}
            <div class="error-type">
                {{ error.error_type }}<span class="dropdown-arrow">▼</span>
                <span class="error-count">{{ error.error_count }}</span>
                <div class="error-content">
                    <ul>
                        {% for item in error.error_content %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="item2" style="width: 50vw; height:50vh;">
{#    <div class="right-section">#}
        <div id="chart" style="width:90%;height:100%; left: 5%"></div>
        <script>
            var chart = echarts.init(document.getElementById('chart'));
            option = {
                color: ['#80FFA5', '#00DDFF', '#37A2FF', '#FF0087', '#FFBF00'],
                title: {
                  text: '文章情感趋势图'
                },
                tooltip: {
                  trigger: 'axis',
                  axisPointer: {
                    type: 'cross',
                    label: {
                      backgroundColor: '#6a7985'
                    }
                  }
                },
                legend: {
                  data: ['情感分数']
                },
                toolbox: {
                  feature: {
                    saveAsImage: {}
                  }
                },
                grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '3%',
                  containLabel: true
                },
                xAxis: [
                  {
                    type: 'category',
                    boundaryGap: false,
                    data: {{x_axis}}
                  }
                ],
                yAxis: [
                  {
                    type: 'value'
                  }
                ],
                series: [
                  {
                    name: '情感分数',
                    type: 'line',
                    stack: 'Total',
                    smooth: true,
                    lineStyle: {
                      width: 0
                    },
                    showSymbol: false,
                    areaStyle: {
                      opacity: 0.8,
                      color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        {
                          offset: 0,
                          color: 'rgb(128, 255, 165)'
                        },
                        {
                          offset: 1,
                          color: 'rgb(1, 191, 236)'
                        }
                      ])
                    },
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{emo_score}}
                  }
                ]
              };
              chart.setOption(option);
        </script>        
    </div>


    <div class="item3" style="width: auto; height:auto;">
{#    <div class="middle-section">#}
      <div id="table" style="width: 600px;height:400px;"></div>
      <script>
          let similarity_value = {{similarity}};
          let table = echarts.init(document.getElementById('table'));
          let data = [
              {value: similarity_value, name: '余弦相似度'}
          ]

          let option = {
              title: {
                  text: '余弦相似度',
                  subtext: '网络查重'
              },
              tooltip: {},
              xAxis: {
                  type: 'category',
                  data: ['余弦相似度']
              },
              yAxis: {},
              series: [{
                  type: 'bar',
                  data: data,
                  itemStyle: {
                      normal: {
                          color: '#61A5E8'
                      }
                  }
              }]
          };
          table.setOption(option);
      </script>
    </div>


    <script>
        $(".error-type, .dropdown-arrow").click(function() {
            $(this).find(".error-content").toggle();
        });
    </script>



    <div class="item4" style="width: auto; height:auto;">
{#    <div class="table">#}
      <h3>主题契合度</h3>
          <table>
            <tr>
              <th>关键词</th>
              <th>和主题“{{word}}”的相似度</th>
              <th>热力图</th>
            </tr>
            <tr>
              <td>{{keyword1}}</td>
              <td>{{score1}}</td>
              <td class="heatmap-10"></td>
            </tr>
            <tr>
              <td>{{keyword2}}</td>
              <td>{{score2}}</td>
              <td class="heatmap-8"></td>
            </tr>
            <tr>
              <td>{{keyword3}}</td>
              <td>{{score3}}</td>
              <td class="heatmap-6"></td>
            </tr>
            <tr>
              <td>{{keyword4}}</td>
              <td>{{score4}}</td>
              <td class="heatmap-5"></td>
            </tr>
            <tr>
              <td>{{keyword5}}</td>
              <td>{{score5}}</td>
              <td class="heatmap-4"></td>
            </tr>
            <tr>
              <td>{{keyword6}}</td>
              <td>{{score6}}</td>
              <td class="heatmap-3"></td>
            </tr>
            <tr>
              <td>{{keyword7}}</td>
              <td>{{score7}}</td>
              <td class="heatmap-2"></td>
            </tr>
            <tr>
              <td>{{keyword8}}</td>
              <td>{{score8}}</td>
              <td class="heatmap-1"></td>
            </tr>
            <tr>
              <td>{{keyword9}}</td>
              <td>{{score9}}</td>
              <td class="heatmap-0"></td>
            </tr>
            <tr>
              <td>{{keyword10}}</td>
              <td>{{score10}}</td>
              <td class="heatmap-0"></td>
            </tr>
          </table>

      </div>
    </div>
</div>

</body>

</html>
     
