#echart_container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-item3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .grid-item4 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .grid-item1 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .grid-item2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .grid-item1 .grid-item2 .grid-item3 .grid-item4{
        position: absolute;
        display: block;

    }

  .lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    display: none;
    z-index: 9999;
  }

    .lightbox-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  .lightbox-prev {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 4em;
      color: white;
      outline: none;
    }

    .lightbox-next {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 4em;
      color: white;
      outline: none;
    }

  .lightbox-prev:hover,
  .lightbox-next:hover {
    opacity: 0.8;
  }

  .lightbox-prev {
    margin-right: 20px;
  }

  .lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
    outline: none;
  }

  .lightbox-close:hover {
    opacity: 0.8;
  }

  .lightbox-image {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    object-fit: cover;
    cursor: pointer;
  }

 .lightbox-caption {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

 .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.img-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
}


.img-container {
  display: flex;
  flex-wrap: wrap;
}

.img-item {
  flex-basis: 18%;
  margin: 1%;
  position: relative;
}