<!-- <img src="/captcha/image/2ff077a9c227ea718aa31116a82015ac413c436a/" alt="captcha" class="captcha" />
<input type="hidden" name="captcha_0" value="2ff077a9c227ea718aa31116a82015ac413c436a" required id="id_captcha_0">
<input type="text" name="captcha_1" style="width:150px;display:inline" class='form-control' placeholder='验证码' required id="id_captcha_1" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"> -->

<img alt="captcha" class="captcha" />
<input autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" id="{
    {id}}_1" name="{
    {name}}_1" class='form-control' placeholder='验证码' type="text" style="width:400px;display:inline;height:160px" />

