{% extends 'WafTemp/layout.html' %}
{% load static %}
{% block defend_active %}active{% endblock %}
{% block diplayLogRecord %}block{% endblock %}

{% block main_content %}
 <div class="section__content section__content--p35">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <!-- TABLE TITLE-->
                                <h3 class="title-5 m-b-35">防御日志</h3>
                                <a  style="font-size: 15px">记录防御日志，统计攻击信息，推敲未知隐患</a><br><br>


                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3 " id ="ddd">
                                        <thead>
                                            <tr >
                                                <th width="10%">序号</th>
                                                <th>日期</th>
                                                <th>IP</th>
                                                <th width="10%">地址</th>
                                                 <th width="15%">访问路径</th>
                                                <th width="15%">攻击类型</th>
                                                <th width="15%">触发规则</th>

                                            </tr>
                                        </thead>
                                        <tbody >
                                        {% for row in queryset %}
                                            <tr >
                                                <td >{{ forloop.counter }}</td>
                                                <td>{{ row.time|date:"y-m-d H:i:s"}}</td>
                                                <td>{{ row.ip }}</td>
                                                <td>{{ row.address }}</td>
                                                <td title="{{ row.path }}">{{ row.path|truncatechars:20 }}</td>
                                                <td>{{ row.type }}</td>
                                                <td>{{ row.rule }}</td>


                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}