{% extends 'WafTemp/layout.html' %}
{% load static %}
{% block css %}
    <style>
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #fff8e8;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #ffffff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #000000;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}</style>
{% endblock %}
{% block index_active %}active{% endblock %}

{% block main_content %}
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row" >
                            <div class="col-lg-2"  >
                                <div class="ag-courses_item" >
      <a href="#" class="ag-courses-item_link" >
        <div class="ag-courses-item_bg" style="background-color: #e44002;!important;"></div>

        <div class="ag-courses-item_title">
          {{ row.0 }}次
            <br><h1 style="font-size:20px;color: #000000">/24h<br>攻击次数</h1>
        </div>


      </a>
    </div>
                            </div>
                              <div class="col-lg-2"  >
                                <div class="ag-courses_item" >
      <a href="#" class="ag-courses-item_link" >
        <div class="ag-courses-item_bg" style=" background-color: #cd3e94;!important;"></div>

        <div class="ag-courses-item_title">
          {{ row.1 }}个
            <br><h1 style="font-size:20px;color: #000000">/24h<br>IP封禁</h1>
        </div>


      </a>
    </div>
                            </div>
                              <div class="col-lg-2"  >
                                <div class="ag-courses_item" >
      <a href="#" class="ag-courses-item_link" >
        <div class="ag-courses-item_bg" style=" background-color: #3ecd5e;!important;"></div>

        <div class="ag-courses-item_title">
          {{ row.2 }}个
            <br><h1 style="font-size:20px;color: #000000">/24h<br>IP总数</h1>
        </div>

      </a>
    </div>
                            </div>
                             <div class="col-lg-2"  >
                                <div class="ag-courses_item" >
      <a href="#" class="ag-courses-item_link" >
        <div class="ag-courses-item_bg" style="background-color: #4c49ea !important;"></div>

        <div class="ag-courses-item_title">
          {{ row.3 }}次
            <br><h1 style="font-size:20px;color: #000000">/24h<br>请求次数</h1>
        </div>


      </a>
    </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         {{ row.4|filesizeformat }}
        <h1 style="font-size:20px;color: #000000"><br>进：{{ row.5|filesizeformat }}<br>出：{{ row.6|filesizeformat }}<br>/24h 流量</h1>
        </div>


      </a>
    </div>
                            </div>


                        </div>

                    </div>
                </div>

          {% endblock %}

{% block js %}


{%  endblock %}