{% extends 'WafTemp/layout.html' %}
{% load static %}
{% block settings_active %}active{% endblock %}
{% block main_content %}


        <div class="section__content section__content--p35">
          <div class="container-fluid">
            <div class="row">
                <h3 class="title-5 m-b-35" >WAF总设置</h3>
              <div class="col-lg-6">

                <div class="card">
                  <div class="card-header">
                    <strong>Http请求检查</strong>
                  </div>
                  <div class="card-body">
                       <span class="badge badge-info">HTTP请求检查开关</span>
                        <a style="float:right">

                      <label class="switch switch-text switch-success switch-text">
                      <input type="checkbox" class="switch-input" onclick="switchStatus('requestcheck')"
                             {% if gc.requestcheck == "1" %}checked=true{% endif %}>
                      <span data-on="开" data-off="关" class="switch-label" style="background-color: grey;border: 1px solid grey"></span>
                      <span class="switch-handle"></span>
                    </label>

                        </a>
                      <br><br>

                      <div class="table-group-divider"></div><br>

                          <span class="badge badge-danger">IP封禁设置</span><br><br>

                        <div class="input-group mb-3">
                        <input type="text" class="form-control"aria-describedby="basic-addon2"  id="timespan" value="{{ rcr.timespan }}" placeholder="建议：1">
                        <div class="input-group-append">
                        <span class="input-group-text" >分钟内</span>
                        </div>
                        </div>

                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">攻击了</span>
                        </div>
                        <input type="text" class="form-control" id="times" value="{{ rcr.times }}"placeholder="建议：5" >
                        <div class="input-group-append">
                        <span class="input-group-text">次</span>
                        </div>
                        </div>

                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">封禁</span>
                        </div>
                        <input type="text" class="form-control" id="blockspan" value="{{ rcr.blockspan }}" placeholder="建议：15">
                        <div class="input-group-append">
                        <span class="input-group-text">分钟</span>
                        </div>
                        </div>
                      <a style="float:right">
                      <button type="button" onclick="sib()" class="btn btn-success m-l-10 m-b-10">保存
                    </button></a>
                  </div>
                </div>
                <!-- /# card -->

              </div>
 <div class="col-lg-4">
 <div class="card">
                  <div class="card-header">
                    <strong>CC攻击防护</strong>
                  </div>
                              <div class="task-progress">
                                        <span class="badge badge-danger">CC防护设置</span><br><br>
                                  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">防护模式</legend>
      <div class="col-sm-10">
        <div class="form-check" >
          <input class="form-check-input" type="radio" name="gridRadios" id="model1" value="forbid" onclick="switchStatus1(2)"
                {%   if openrule == "test" %}
                                                             checked=true>
                                                             {% else %}
                                                                        >
                                                            {% endif %}

          <label class="form-check-label" for="gridRadios1" >
            测试模式
          </label>
        </div>
            <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="model2" value="check"  onclick="switchStatus1(1)"
                                        {%   if openrule == "default" %}
                                                             checked=true>
                                                             {% else %}
                                                                        >
                                                            {% endif %}
          <label class="form-check-label" for="gridRadios1">
            标准模式
          </label>
        </div>

       <div class="form-check" >
          <input class="form-check-input" type="radio" name="gridRadios" id="model1" value="forbid" onclick="switchStatus1(0)"
                {%   if openrule != "test" and openrule != 'default' %}
                                                             checked=true>
                                                             {% else %}
                                                                        >
                                                            {% endif %}

          <label class="form-check-label" for="gridRadios1">
            关闭
          </label>
        </div>

      </div>
    </div>
  </fieldset>

                                </div>
                            </div>
            </div>
            </div></div>
        </div>
      </div>
    <script>
     function switchStatus(configname){

        var url = "{% url 'WoofWaf-views-Switch' %}" + "?switchSection=" + configname + "&config=GC";
        var xhr ;
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }
        xhr.open("get",url,true)
        xhr.send()
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                {#alert(rsp)#}
            }
        }
};
     function sib(){
        var blockspan = document.getElementById("blockspan").value
        var times = document.getElementById("times").value
        var timespan = document.getElementById("timespan").value
        var url = "{% url 'WoofWaf-views-sib' %}"
        var xhr
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }
        xhr.open("post",url,true)
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
        xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}')
        var send = "blockspan="+blockspan+"&times="+times+"&timespan="+timespan+"&csrfmiddlewaretoken="+"{{ csrf_token }}"
        xhr.send(send)
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                  if (rsp == "修改成功"){
                       alert("保存成功")
                     location.reload()
                 }

                if (rsp=="请仅输入数字") {
                    alert(rsp)
                }

            }
        }
};

    function switchStatus1(n){
        if (n==0){
            rule = '0'
        }
           if (n==1){
            rule = 'default'
        }
           if (n==2){
            rule = 'test'
        }

        var url = "{% url 'WoofWaf-views-ccSwitch' %}" + "?rule=" + rule ;
        var xhr ;
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }
        xhr.open("get",url,true)
        xhr.send()
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                {#alert(rsp)#}
            }
        }
};

    </script>


{% endblock %}