{% extends 'WafTemp/layout.html' %}
{% load static %}
{% block upload_active %}active{% endblock %}
{% block diplayWebDefend %}block{% endblock %}

{% block main_content %}
                 <div class="section__content section__content--p35">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <!-- TABLE TITLE-->
                                <h3 class="title-5 m-b-35">文件上传防护</h3>
                             <a  style="font-size: 15px">拦截黑客上传的网站木马，保护网站安全</a>
                                          <a style="float:right">
                                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#add">
											        添加规则
										            </button>
                                          </a><br><br>
                                <!-- TABLE TOOL-->


                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3 " id="ddd">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th width="20%">类型</th>
                                                <th>规则名</th>
                                                <th>检测项目</th>
                                                <th>状态</th>
                                                <th>描述</th>
                                                <th >操作</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                             {% for config in configlist %}
                                              <tr>
                                               <td>{{ forloop.counter }}</td>
                                                <td>{{ config.type }}</td>
                                                <td>{{ config.name }}</td>

                                                <td width="15%">
                                                    {%   if config.chkurl == "1" %}
                                                             URL&nbsp;
                                                            {% endif %}

                                                         {%   if config.chkpost == "1" %}
                                                             POST&nbsp;
                                                            {% endif %}

                                                         {%   if config.chkcookie == "1" %}
                                                             COOKIE&nbsp;
                                                            {% endif %}
                                                         {%   if config.chkheader == "1" %}
                                                             HEADERS&nbsp;
                                                            {% endif %}

                                                </td>
                                                <td>
                                                    <label class="switch switch-text switch-success switch-text">
                                                      <input type="checkbox" class="switch-input"  onclick="switchStatus('{{ config.name }}')"
                                                             {%   if config.status == "1" %}
                                                             checked=true>
                                                             {% else %}
                                                                        >
                                                            {% endif %}
                                                      <span data-on="On" data-off="Off" class="switch-label" style="background-color: grey;border: 1px solid grey"></span>
                                                      <span class="switch-handle"></span>
                                                    </label>
                                                </td>
                                                  <td title="{{ config.dcp }}"><a style="width:200px;white-space:nowrap;overflow:hidden;text-overflow : ellipsis">{{ config.dcp }}</a></td>
                                                <td width="23%">
                                                   <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#{{ config.name }}">
											编辑
										</button>
                                                    &nbsp;&nbsp;<button type="button" class="btn btn-danger mb-1" data-toggle="modal" data-target="#{{ config.name }}del">
											删除
										</button>
                                                </td>
                                              </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->

                            </div>

                        </div>

                    </div>
                </div>
            <!-- modal large -->
			<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="largeModalLabel">添加规则</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

								<form method="post">
                    {% csrf_token %}

                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" >规则名</span>
                                      </div>
                                      <input type="text" class="form-control"id="ruleName" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                        <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" >正则表达式</span>
                                      </div>
                                      <input type="text" class="form-control" id="regex" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                        <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" >类型</span>
                                      </div>
                                      <input type="text" class="form-control"  id="type" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                        <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">描述</span>
                                      </div>
                                      <input type="text" class="form-control"  id="dcp" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect" id="url" checked>
                                      <label class="form-check-label" for="url">检查URL</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="cookie" checked>
                                      <label class="form-check-label" for="cookie">检查COOKIE</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="post" checked>
                                      <label class="form-check-label" for="post">检查POST</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="headers" checked>
                                      <label class="form-check-label" for="headers">检查HEADERS</label>
                                    </div>
                                    <div>

                                        </div>

                        </form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" onclick="addRule()">添加</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal large -->
      <div>
                  {% for config in configlist %}
                  <!-- modal large -->
    <div class="modal fade" id="{{ config.name }}" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="largeModalLabel">{{ config.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form method="post">
                    {% csrf_token %}

                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" >规则名</span>
                                      </div>
                                      <input type="text" class="form-control" id="{{ config.name }}newname" value="{{ config.name }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                        <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" >正则表达式</span>
                                      </div>
                                      <input type="text" class="form-control" id="{{ config.name }}regex" value="{{ config.regex }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                        <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" >类型</span>
                                      </div>
                                      <input type="text" class="form-control"  id="{{ config.name }}type" value="{{ config.type }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                        <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">描述</span>
                                      </div>
                                      <input type="text" class="form-control"  id="{{ config.name }}dcp" value="{{ config.dcp }}" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="{{ config.name }}url" {% if config.chkurl == "1"%}checked{% endif %}>
                                      <label class="form-check-label" for="">检查URL</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="{{ config.name }}cookie"{% if config.chkcookie == "1"%}checked{% endif %}>
                                      <label class="form-check-label" for="cookie">检查COOKIE</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="{{ config.name }}post" {% if config.chkpost == "1"%}checked{% endif %}>
                                      <label class="form-check-label" for="post">检查POST</label>
                                    </div>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" name = "ruleSelect"id="{{ config.name }}headers" {% if config.chkheader == "1"%}checked{% endif %}>
                                      <label class="form-check-label" for="headers">检查HEADERS</label>
                                    </div>
                                    <div>

                                        </div>

                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="setRule('{{ config.name }}')">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal large -->
                      <!-- modal small -->
			<div class="modal fade" id="{{ config.name }}del" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="smallmodalLabel">删除规则</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								是否确定删除规则'{{ config.name }}'
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" onclick="delRule('{{ config.name }}')">确定</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal small -->
              {%  endfor %}
            </div>


    <!-- ajax实现转换状态逻辑 -->
    <script>
    function switchStatus(configname){

        var url = "{% url 'WoofWaf-views-Switch' %}" + "?switchSection=" + configname + "&config=RCR";
        var xhr ;
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }
        xhr.open("get",url,true)
        xhr.send()
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                {#alert(rsp)#}
            }
        }
};
        function addRule(){
        var dcp = document.getElementById("dcp").value
        var ruleName = document.getElementById("ruleName").value
        var regex = document.getElementById("regex").value
        var type = document.getElementById("type").value
        var u,cookie,p,h
            if (document.getElementById("url").checked==true){
                u="1"
            }else {
                u="0"
            }
            if (document.getElementById("cookie").checked==true){
                cookie="1"
            }else {
                cookie="0"
            }
            if (document.getElementById("post").checked==true){
                p="1"
            }else {
                p="0"
            }
            if (document.getElementById("headers").checked==true){
                h="1"
            }else {
                h="0"
            }
        var url = "{% url 'WoofWaf-views-AddRule' %}"
        var xhr
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }

        xhr.open("post",url,true)
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
        xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}')
        var send = "ruleName="+ruleName+"&re="+regex.replace(/\+/g, "%2B")+"&dcp="+dcp.replace(/\+/g, "%2B")+"&type="+type.replace(/\+/g, "%2B")+"&csrfmiddlewaretoken="+"{{ csrf_token }}"+"&u="+u+"&cookie="+cookie+"&p="+p+"&h="+h
        xhr.send(send)
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                alert(rsp)
                 if (rsp == "添加成功"){
                     location.reload()
                 }
            }
        }
};
        function setRule(ruleName){
        var dcp = document.getElementById(ruleName+"dcp").value
        var new_Name = document.getElementById(ruleName+"newname").value
        var regex = document.getElementById(ruleName+"regex").value
        var type = document.getElementById(ruleName+"type").value
        var u,cookie,p,h
            if (document.getElementById(ruleName+"url").checked==true){
                u="1"
            }else {
                u="0"
            }
            if (document.getElementById(ruleName+"cookie").checked==true){
                cookie="1"
            }else {
                cookie="0"
            }
            if (document.getElementById(ruleName+"post").checked==true){
                p="1"
            }else {
                p="0"
            }
            if (document.getElementById(ruleName+"headers").checked==true){
                h="1"
            }else {
                h="0"
            }
        var url = "{% url 'WoofWaf-views-SetRule' %}"
        var xhr
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }

        xhr.open("post",url,true)
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
        xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}')
        var send = "ruleName="+ruleName+"&newName="+new_Name+"&re="+regex.replace(/\+/g, "%2B")+"&dcp="+dcp.replace(/\+/g, "%2B")+"&type="+type.replace(/\+/g, "%2B")+"&csrfmiddlewaretoken="+"{{ csrf_token }}"+"&u="+u+"&cookie="+cookie+"&p="+p+"&h="+h
        xhr.send(send)
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                alert(rsp)
                 if (rsp == "修改成功"){
                     location.reload()
                 }
            }
        }
};
        function delRule(ruleName){

        var url = "{% url 'WoofWaf-views-DelRule' %}"
        var xhr
        if(window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }

        xhr.open("post",url,true)
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
        xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}')
        var send = "ruleName="+ruleName
        xhr.send(send)
        xhr.onreadystatechange = function (){
            if (xhr.readyState==4 && xhr.status==200){
                rsp = xhr.responseText
                 if (rsp == "删除成功"){
                     location.reload()
                 }
            }
        }
};
    </script>

           {% endblock %}