.btn {
    background: hsl(200, 100%, 50%);
    outline: none;
    border: 1px solid hsl(200, 100%, 50%);
    border-radius: 6px;
    padding: 6px 20px;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

#img-temp{
    max-width: 400px;
    width: 80%;
    height: auto;
    text-align: center;
    position: absolute;
    z-index: -1;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul li {
    padding-bottom: 10px;
    cursor: pointer;
}

.ul li:hover {
    opacity: 0.8;
}

.video-container {
    text-align: center;

}

video {
    max-width: 400px;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    position: absolute;
    z-index: -1;
}

.canvas2 {
    text-align: center;
    z-index: 0;
}

.panel {
    padding: 10px 0;
}

.img-list {
    display: flex;
    flex-flow: row wrap;
}

.img-list .img {
    width: 200px;
    height: 150px;
    padding-top: 10px;
    margin-right: 10px;
}

.img-list img {
    width: 100%;
    height: 100%;
}

.device-list {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px hsla(0, 0%, 0%, 0.3);
    background-color: #fff;
    z-index: 99;
}



.device-list.active {
    display: block;
}

.content {
    text-align: center;
}


.rect {
    border: 2px solid #00fe44;
    left: -1000px;
    position: absolute;
    top: -1000px;
    /* background-color: #a64ceb; */
    border: 1px solid #00fe44;
}