<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>联系我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" user-scalable="no">
<link rel="stylesheet" href={% static 'css/con_style.css' %}>
<script src="{% static 'js/con_jquery.min.js'%}"></script>
<script src="{% static 'js/con_style.js'%}"></script>
</head>
<body>
<div class="main-group">
	<div class="box-group">
		<div class="left-group">
			<h3 class="title">联系我们</h3>
			<div class="icon-group">
				<ul>
					<li>
						<img src="{% static 'img/address.png' %}" class="icon" alt="">
						<p>
							北京市 海淀区 西三旗街道 小营东路12号
						</p>
					</li>
					<li>
						<img src="{% static 'img/email.png' %}" class="icon" alt="">
						<p>
							2020011933@bistu.edu.cn
						</p>
					</li>
					<li>
						<img src="{% static 'img/mobile.png' %}" class="icon" alt="">
						<p>
							18813186070
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-group">
			<h3 class="title">在线留言</h3>
			<form action="#" class="form">
				<div class="form-group">
					<div class="input-group w50">
						<input type="text" name="email" required>
						<span>邮箱</span>
					</div>
					<div class="input-group w50">
						<input type="text" name="phone" required>
						<span>手机号</span>
					</div>
					<div class="input-group w100">
						<textarea name="data" required></textarea>
						<span>请输入您的消息内容</span>
					</div>
					<div class="input-group w100">
						<button type="submit">发 送</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
new Action({});
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：Chrome、FireFox、360、搜狗、Opera、傲游. 不支持Windows版Safari、IE8及以下浏览器。</p>

</div>
</html>

