<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radar Map</title>
    <!-- include echarts library -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js"></script>
</head>
<body>
    <div id="radar-map-container" style="width: 800px; height: 900px;"></div>
    <script>
        var RadarChart = echarts.init(document.getElementById('radar-map-container'));
        var data = {{ radar_data|safe }};
        var legend = {{ radar_legend|safe }};
        var option_radar = {
            radar: {
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                    { name: '发音流畅度', max: 100},
                    { name: '演讲完整度', max: 100},
                    { name: '发音声韵', max: 100},
                    { name: '发音调型', max: 100},
                    { name: '主题契合度', max: 100},
                    { name: '缀词冗余', max: 100},
                    { name: '肢体动作得分', max: 100}
                ]
            },
            tooltip: {
              trigger: 'item',
              axisPointer: {
                  type: 'shadow',
              }
          },
            series: (function () {
                var series = [];
                for (var i = 0; i < data.length; i++) {
                    series.push({
                        name: legend[i],
                        type: 'radar',
                        data: [{
                            value: data[i],
                            name: legend[i]
                        }],
                        itemStyle: {
                            normal: {
                                color: echarts.color.modifyHSL('#5A94DF', Math.round(i * (360 / data.length)))
                            }
                        },
                        symbolSize: 0,
                        lineStyle: {
                            normal: {
                                width: 3
                            }
                        },
                        areaStyle: {
                            normal: {
                                opacity: 0
                            }
                        }
                    });
                }
                return series;
            }())
        };
        // show the first element of the legend by default
        option_radar.legend = {
            data: legend,
            selected: {},
            selectedMode: "multiple",
            left:'right',
        };
        for (var i = 0; i < legend.length; i++) {
          option_radar.legend.selected[legend[i]] = false;
        }
        option_radar.legend.selected[legend[0]] = true;
    
        RadarChart.setOption(option_radar);
    </script>
</body>
</html>    