<div id="chart" style="width:900px;height:635px;"></div>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
    <script>
        var chart  = echarts.init(document.getElementById('chart'));
        option = {
            title: {
                text: '演讲单项分数趋势图',
                padding:[617,50,0,0],
              },
              tooltip: {
                trigger: 'axis',

              },
              legend: {
                data: {{line_legend|safe}},
                "selected": {
                  '总分': true,
                  "发音流畅度": false,
                  "发音声韵": false,
                  "发音调型": false,
                  "肢体动作得分": false,
                  "缀词冗余": false,
                  "演讲完整度": false,
                  "主题契合度": false,
              },
              "selectedMode": " multiple",
              },
              toolbox: {
                show: true,
                orient:"vertical",    
                feature: {
                  dataZoom: {
                    yAxisIndex: 'none'
                  },
                  dataView: { readOnly: false },
                  magicType: { type: ['line', 'bar'] },
                  restore: {},
                  saveAsImage: {}
                }
              },
              grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis: [
                {
                  type: 'category',
                  boundaryGap: false,
                  data: {{x_axis|safe}}
                }
              ],
              yAxis: [
                {
                  type: 'value'
                }
              ],
              series: [
                {
                  name: '发音流畅度',
                  type: 'line',
                  stack: '',
                  emphasis: {
                    focus: 'series'
                  },
                  data: {{fluency_score}}
                },
                {
                  name: '演讲完整度',
                  type: 'line',
                  stack: '',
                  emphasis: {
                    focus: 'series'
                  },
                  data: {{integrity_score}}
                },
                {
                    name: '发音声韵',
                    type: 'line',
                    stack: '',
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{phone_score}}
                  },
                  {
                    name: '发音调型',
                    type: 'line',
                    stack: '',
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{tone_score}}
                  },
                  {
                    name: '主题契合度',
                    type: 'line',
                    stack: '',
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{topic_score}}
                  },
                  {
                    name: '缀词冗余',
                    type: 'line',
                    stack: 'none',
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{affix_score}}
                  },
                  {
                    name: '肢体动作得分',
                    type: 'line',
                    stack: '',
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{body_score}}
                  },
                  {
                    name: '总分',
                    type: 'line',
                    stack: '',
                    emphasis: {
                      focus: 'series'
                    },
                    data: {{total_score}}
                  },
              ]
        };
        chart.setOption(option);
    </script>
